@font-face {
  font-family: clash-royale-font;
  src: url(./assets/fonts/Clash_Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: clash-royale-font;
  src: url(./assets/fonts/Clash_Bold.otf);
  font-weight: bold;
}
html,
body {
  font-family: clash-royale-font;
  font-weight: normal;
  min-height: 100%;
  padding: 0 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 2rem 0;
  gap: 1rem;
}

#tagLine {
  font-size: smaller;
}

h1 {
  font-weight: bolder;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  place-items: center;
}

img {
  width: 170px;
  background-color: white;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  width: min(200px, 100%);
  height: 230px;
  cursor: pointer;
  background-color: chocolate;
}

.cardName {
  color: white;
}

@media (max-width: 600px) {
  body,
  html,
  #root {
    padding: 0;
    font-size: medium;
    width: 100%;
  }
  header {
    flex-direction: column;
    gap: 0;
    justify-content: space-evenly;
    padding: 0;
  }
  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
    /* gap: 0.5rem;s */
    place-items: start;
  }
  img {
    width: 90px;
    background-color: white;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: safe;
    justify-content: center;
    padding-top: 6px;
    width: min(100px, 100%);
    height: 120px;
    cursor: pointer;
    background-color: chocolate;
    font-size: x-small;
  }
}
